@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
nav{
    width: 1255px;
    height: 200px;
    margin: 0 auto;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 1255px;
    height: 50px;
    background-color: #EAF0D8;
}
.first-image img{
    width: 20px;
   
}
.first-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.second-image img{
    width: 100px;
   
}
.second-content{
    display: flex;
    justify-content: left;
    align-items: center;
}
.second-text h1{
    font-size: 2rem;
}
.icons{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}
.icon{
    background-color: #4F8E63;
    padding: 8px;
    border-radius: 6px;
    color: white;
}
.fa-brands{
    background-color: #4F8E63;
    padding: 8px;
    border-radius: 50%;
    color: white;  
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 1255px;
    height: 90px;
}
.third-nav-options{
    display: flex;
    gap: 15px;
justify-content: space-evenly;
align-items: center;
background-color: #2D6B4F;
width: 1255px;
    height: 70px;
}
.third-nav-options p{
    color: white;
}
.third-nav-options p:hover{
    text-decoration: underline;
    text-decoration-color: #E9EFD7;
}
.slider img{
    width: 1255px;
}
.Announcement{
    width: 1255px;
    margin: 0 auto;
    margin-top: 30px;
}
.Announcement-text h1{
    text-align: center;
    color: #B11B1B;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}
.Announcement-text h2{
    text-align: center;
}
.Announcement-text h3{
    text-align: center;
}
.book{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 3rem;
}
.Announcement-card{
    margin-top: 40px;
    background:#2D6B4F ;
    padding: 10px;
    width: 1000px;
    border-radius: 15px;
    margin: 0 auto;
}
.Announcement-card h2{
    text-align: center;
    color: white;
}
.Announcement-card p{
    text-align: center;
    color: white;
}
.enroll-cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.enroll-card-1{
    background: #2D6B4F;
}
.enroll-card-1 h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.enroll-card-1 h3{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.enroll-card-2{
    background: #2D6B4F;
    width: 200px;
}
.enroll-card-2 h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.enroll-card-2 h3{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.enroll-card-3{
    background: #2D6B4F;
    width: 200px;
}
.enroll-card-3 h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.enroll-card-3 h3{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.enroll-card-4{
    background: #2D6B4F;
    width: 200px;
}
.enroll-card-4 h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.enroll-card-4 h3{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.enroll-card-1{
    background: #2D6B4F;
    width: 300px;
}
.enroll-card-1 h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.enroll-card-1 h3{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.enroll-text1{
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}
.enroll-text{
    text-align: center;
}
.Prospectus-text{
    background: #EAF0D8;
}
.Prospectus-text h3{
    text-align: center;
} 
.prospectus-ulom{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 6px 50px 0px rgba(255, 255, 255, 0.699);
}
.Prospectus-cards{
    width: 1255px;
    margin: 0 auto;
    margin-top: 30px;
}
.prospectus-ulom-image img{
    width: 200px;
    height: 200px;
}
.btn{
    background:#66A637 ;
    color:white;
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 400px;
}
.button{
    text-align: center;
}
.Prospectus-card-1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 1255px;
}
.Prospectus-card-2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 1255px;
    margin-top: 40px;
}
.Welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.Hybrid-Pattern-text h2{
    background: #EBF0E9;
    text-align: center;
}
.Hybrid-Pattern-text p{
    text-align: center;
}
.Hybrid-Pattern{
    width: 1255px;
    margin: 0 auto;
    margin-top: 45px;
}
.Welcome-text h1{
    font-size: 2rem;
}
.vision-mission-head{
    width: 1150px;
    height: 50px;
    border: 2px solid #CCDDC3;
    background:#CCDDC3 ;
    margin: 0 auto;
}
.vision-mission{
    width: 1255px;
    margin: 0 auto;
    margin-top: 45px;
}
.vision-image img{
    width: 400px;
}
.mission-image img{
    width: 400px;
}
.vision{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}
.mission{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}
.btn-vision{
    background: #66A637;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.teachers{
    width: 1255px;
    margin: 0 auto;
    margin-top: 45px;
}
.teachers-text h1{
    font-size: 4rem;
    
}
.teachers-text{
    text-align: center;
}
.teachers-card-1 img{
    border-radius: 50%;
    width: 250px;
}
.teachers-card-2 img{
    border-radius: 50%;
    width: 250px;
}
.teachers-card-3 img{
    border-radius: 50%;
    width: 250px;
}
.teachers-cards1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.teachers-cards2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}
.footer{
    width: 1255px;
    margin: 0 auto;
    background: #2D6B4F;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    height: 400px;
}
.footer-end{
    margin-left: 70px;
    font-size: 1.2rem;
}
.second-text1 h1{
    color: white;
}
.footer-1 p{
    color: white;
}
.footer-2 p{
    color: white;
}
.footer-3 p{
    color: white;
}
.footer-4 p{
    color: white;
}